@import '../../../styles.scss';


.footer{
    padding: 20px 0 25px 0;
    background-color: $border-color-header-input;

    @media (min-width: 992px){
        padding: 20px 0 15px 0;
    }

    .footer-container{
        display: flex;
        flex-direction: column;

        @media (min-width: 992px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 60px 0 60px;
        }
        
        .footer-container-logo{
            display: flex;
            align-items: center;
            flex-direction: column;

            
            @media (min-width: 992px){
                display: flex;
                align-items: flex-start;
            }

            .footer-container-logo__icon{
                width:95px; 
                height: 80px;
            }

            .footer-container-logo-content{
                text-align: center;
                max-width:165px;

                @media (min-width: 992px){
                    text-align: left;
                }

                .footer-container-logo-content__text{
                    font-weight: bold;
                    font-family: 'Inter', sans-serif;
                    font-size: 13px;

                    @media (min-width: 992px){
                        max-width:190px;
                        font-size: 14px;
                    }
                }
            }
        }

        .footer-container-links{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px;
            padding: 0 0 0 30px;

            @media (min-width: 992px){
                display: grid;
                grid-template-rows: 0 0 0;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: flex-end;
                gap: 15px;
            }

            .footer-container-links-items{
                display: flex;
                flex-direction: column;
                gap:10px;

                .footer-container-links-items__link{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-family: 'Inter', sans-serif;
                    font-size: 13px;

                    @media (min-width: 992px){
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .footer-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0 0 0;

        .footer-social-content{
            font-weight: bold;
            font-size: 14px;

            @media (min-width: 992px){
                font-size: 15px;
            }

            .footer-social-content__text{
                margin: 10px 0 8px 0;
            }
        }

        .footer-social-icons{
            display: flex;
            gap: 8px;
            
            .footer-social-icons__icon{
                width: 30px;
                height: 30px;

                @media (min-width: 992px){
                    width: 34px;
                    height: 34px;
                }
            }
        }
    }
}
