@import '../../../styles.scss';

.header{
    background-color: $primary-header-background-color;
    height: 230px;

    .header-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        
        &.slide-in {
            transform: translateY(-110%);
        }

        &.slide-in.show {
            transform: translateY(0);
        }
    }

    .header-mobile-menu{
        position: absolute;
        width: 100%;
        height: 100%; 
        top: 0%;
        @extend .header;
        
        &.slide-in {
            transition: transform 0.6s ease-in-out;
            transform: translateY(-110%);
        }

        &.slide-in.show {
            transform: translateY(0);
        }

        .header-mobile-menu__icons{
            @extend .header-mobile;
        }

        .header-mobile-menu-links{
            
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 20px;

            .header-mobile-menu__item{
                border-bottom: 2px solid white;
                padding: 28px 5px;

                &:first-child{
                    padding-top: 20px;
                }

                &:last-child{
                    border-bottom: 1px solid white;
                }
                .header-mobile-menu__link{
                    text-decoration: none;
                    color: white;
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }
    }

    .header-desktop{
        display: none;
    }

    .header-flights__title{
        color: white;
        text-align: center;
    }

    .header-flights-container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 0;
        background-color: white;
        border-radius: 15px;
        margin: 0 15px;

        .header-flights__input-group{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            @media (max-width:320px){
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0px;
                width: 100%;
            }

            .header-flights__input{
                width: calc(50% - #{10px * 2});
                height: 45px;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #2c2b2b7f;
                border-radius: 8px;
                box-sizing: border-box;
                font-family: 'Inter', sans-serif;
                transition:  0.3s ease;

                &::placeholder{
                    color: rgba(93, 91, 91, 0.898);
                    font-weight: 600;
                }

                &:hover{
                    border: 1px solid #D2DE32;
                    
                    cursor: pointer;
                }

                &:focus{
                    outline: none;
                    border: 1px solid #D2DE32;
                    transition:  0.3s ease;
                    cursor:text;
                    
                    &::-webkit-input-placeholder{
                        opacity: 0; 
                        transition: opacity 0.8s ease; 
                    }
                    &::-moz-placeholder {
                        opacity: 0; 
                        transition: opacity 0.8s ease; 
                    }
                }

                @media (max-width:320px){
                    width: calc(100% - #{15px * 2});
                }
            }
        }

        .header-flights__button-container{
            width: 100%;
            text-align: center; 

            .header-flights__button{
                padding:15px 40px;
                background-color: $primary-header-background-color;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 5px;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                border-radius: 30px;
                font-size: 14px;
                
                &:hover{
                    background-color: #013D40;
                    transition: background-color 0.5s ease; 
                }

                &:hover:hover{
                    background-color: #06383b;
                }

                &.click-animation {
                    animation: bounce 0.7s  ease; 
                }

                
                @keyframes bounce {
                    0%, 100% {
                        transform: scaleX(1);
                    }
                    50% {
                        transform: scaleX(0.7); 
                        background-color: #042122;
                    }
                }
            }
        }
    }
}


@media (min-width: 992px){
    .header{
        background: linear-gradient(90deg, rgba(1, 106, 112, 0) 23%, #016A70 70.5%), url('../../../assets/images/beach\ 1\ \(3\).png');
        background-size: contain;
        background-repeat: no-repeat;

        .header-mobile,
        .header-mobile-menu{
            display: none;
        }

        .header-desktop{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 55px;

            .header-desktop__links{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .header-desktop__language{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 8px;

                    .header-desktop__text-language{
                        color: white;
                        font-size: 12px;
                    }
                }

                .header-desktop__menu{
                    display: flex;
                    gap: 15px;

                    .header-desktop__menu-item{
                        
                        .header-desktop__menu-link{
                            text-decoration: none;
                            color: white;
                            font-size: 15px;
                            padding: 5px 10px;


                            &:hover{
                                border-bottom: 2px solid white;
                            }
                        }
                    }
                }
            }

        }

        .header-flights__title{
            font-size: 28px;
            margin: 0 0 30px 0;
        }

        .header-flights-container{
            display: none;
        }
    }
}

