<main class="main">
    <section class="main-container-title">
        <div class="main-container-title__line"></div>
        <h2 class="main-container-title__title">Smart ease way to flight</h2>
        <div class="main-container-title__line"></div>
    </section>
    
    <section class="main-advertisement">
        <div class="main-advertisement-image">
            <img class="main-advertisement-image__img--mobile" src="../../../assets/images/airplane-offers-mobile.png" alt="Advertisement image">
            <img class="main-advertisement-image__img--desktop" src="../../../assets/images/airplane-offers-desktop.png" alt="Advertisement image">
        </div>

        <div class="main-advertisement-content">
            <h2 class="main-advertisement-content__title">Offers are ending</h2>
            <p class="main-advertisement-content__description">Discover exclusive offers! Stay tuned and follow our pages to catch all the latest promotions.</p>
            <div class="main-advertisement-button">
                <button class="main-advertisement-button__btn" (click)="onClick()" [class.click-animation]="clickButton">Search</button>
            </div>
        </div>
    </section>

    <section class="main-container-button">
        <button class="main-container-button__btn" (click)="onClickViewDestinations()" [class.click-animation-up]="clickButtonDestinations">View Destinations</button>
    </section>
</main>