/* Import of the variables and mixins used in each of the component style sheets*/
@import '../src/app/core/mixins.scss';
@import '../src/app/core/variables.scss';

/* Custom website font */
@font-face {
    font-family: 'Roboto Regular';
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

/* Global styles for the body*/
body{
    font-family: 'Roboto Regular', sans-serif;
    margin: 0px;
    padding: 0px;
}
