$primary-header-background-color: #056A70;
$primary-header-text-color: white;
$border-color-header-input: #D2DE32;
$header-input-placeholder-color: #556364;
$background-color-main-section: #EEEEEE;
$main-card-background-color: #FFFFDD;